body {
		background-color: #DDDDDD;
		font-family: "Arial", "Courier New","Times New Roman", "Serif", sans-serif;
		
	}
	 
.assignment {
				width: 20%
				padding: 10px;
				margin: 10px;
				background:#999999;
				padding:20px 10px;
				border-radius: 7px;
	
				
			}
			
.displayassignments {	
											
						display:flex;
						flex-wrap:nowrap;
				
						
							
}

.assignment 190images	{
							width:150px;
							margin:10px;
							border: 5px solid #00FFFF;
							display:block;
							
							
}

h1	{
		color: #003366;
		text-align: center;
}	
										
h1:hover	{
				color: #660000;
			
}

h2: {
		text-align: center;
	
}

	
a {
			text-decoration: none;
			color: #666600;
}


a:hover	{
			color: #00FFFF;
}

