body {
		background-color: #DDDDDD;
		font-family: "Arial", "Courier New","Times New Roman", "Serif", sans-serif;
		
	}
	 
.assignment {
				display:flex;
				padding:10px;
				margin: 10px;
				background:#999999;
				
			}
			
.assignment 190images {	
						padding:10px;
					
			}
	
h1 {
	color: #003366;
	text-align: center;
	}
	
