body {
		background-color: #DDDDDD;
		font-family: Arial, Helvetica, Times New Roman, sans-serif;
		color: #444444;
	 }
	
h1 {
	color: #003366;
	text-align: center;
   }
	
h2 {
	color: #003366;
	text-align: center;
   }
	